html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-color: #474747;
}
.container, footer{
    width: 500px;
    color: white;
    margin: auto;
}
.logo {
    width: 90%;
    display: flex;
    justify-content: center;
}
.homeButton {
    position: relative;
    left: -10px;
    top: -5px;
    font-size: 70px;
    transform: scale(0.90);
    transition: all 200ms ease-in-out;
}
.homeButton:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}
.logoItem {
    padding-left: 50px;
    margin: auto;
}
.refresh {
    font-size: 40px;
    position: absolute;
    /*top: -30px;
    left: 2px;*/
    top: 375px;
    transform: scale(0.90);
    transition: all 200ms ease-in-out;
}
.refresh:hover {
    transform: scale(1.150);
    transition: all 200ms ease-in-out;
}
.content {
    margin: auto;
    width = 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.separation {
    width: 100%;
    margin-bottom: 50px;
    color: white;
    margin: auto;
}
h1, h2, h4 {
    text-align: center;
}
h1 {
    color: white;
    font-size: 60px;
}
h2 {
    color: #FFAD33;
    font-size: 27px;
}
h3 {
    color: white;
    font-size: 22px;
}
h4 {
    color: #FFAD33;
    font-size: 19px;
}
.changeColor {
    color: white;
}
.changeGuidCss {
    color: #33ff31;
    font-size: 30px;
}
.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.disabledButton{
    width: 50%;
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 40px;
    border: 1px;
    border-radius: 45px;
    background-color: #969696;
    transform: scale(0.90);
}
.button, .activeButton{
    width: 50%;
    font-size: 22px;
    text-align: center;
    background-color: #25B900;
    color: white;
    padding: 40px;
    border: 1px;
    border-radius: 45px;
    transform: scale(0.90);
    transition: all 200ms ease-in-out;
}
.activeButton, .disabledButton {
    transition: background-color none;
}
.button:hover, .activeButton:hover {
    background-color: #4fd100;
    transform: scale(1);
    transition: all 200ms ease-in-out;
}
.button2 {
    background-color: #ffa849;
}

.button2:hover {
    background-color: #ffa849;
}
.shortGUID {
    height: 40px;
    font-size: 20px;
}
.guidText {
    width: 82%;
}
p {
    color: white;
}
.infoItem {
    margin: auto;
    width: 300px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}
h3:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}
.participate {
    margin: auto;
}
.importantCode {
    padding: 30px;
    border: 1px solid white;
    border-radius: 15px;
}
.warnings {
    text-align:justify;
    width: 480px;
}
/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/