@{
    ViewData["Title"] = "Informations";
}
<div class="infoTexts">
    <div class="infoZoom">
    <h2 class="changeColor">Règles du jeu:</h2>
    <br />
    <p>
    Toutes les 5 minutes, un tirage de loterie a lieu et 6 numéros sont sélectionnés, au hasard, par le programme.
    Dès lors, vous est possible de participer à la session de jeu en cours, tant que les jeux ne sont pas faits (une minute avant la fin du jeu)
    Vous pourrez ensuite consulter les résulats et vos gains éventuels, dès que le jeu en cours sera clos et que la partie suivante aura commencé.
    </p>
    </div>
    <br />
    <div class="infoZoom">
    <h2 class="changeColor">A propos du calcul des gains:</h2>
    <br />
    <p>
    Dès que les jeux sont faits et que le tirage a eu lieu, nous procédons au calcul des résultats.
    Le jackpot de chaque jeu se répartit comme suit:
        - 60% de la somme est distribué équitablement à tous les joueurs de rang 1, ayant trouvé 6 numéros
        - 20% de la somme est distribué équitablement à tous les joueurs de rang 2, ayant trouvé 5 numéros
        - 20% de la somme est distribué équitablement à tous les joueurs de rang 3, ayant trouvé 4 numéros
    </p>
    <br />
    </div>
    <div class="infoZoom">
    <h2 class="changeColor">A propos du code personnel:</h2>
    <br />
    <p>Lorsque vous validez votre session, un code personnel à 22 caractères est généré aléatoirement pour vous (format Short Guid).
    Il sera de votre responsabilité de le conserver pour accéder à votre session et consulter les résultats du jeu.
        Nous déclinons toute responsabilité en cas de perte ou de récupération du code par un tiers.
    </p>
    </div>
    <br />
    <div class="infoZoom">
    <h2 class="changeColor">Confidentialité et mentions légales:</h2>
    <br />
    <p>
    Le jeu est 100% anonyme, vous ne fournissez aucune donnée personnelle qui pourrait faire l'objet d'un traitement particulier.
    Tout problème inhérent à une mauvaise utilisation d'internet, ne saurait être imputé directement à MyLoterie.Comm.
    Cette application web, ainsi que tout le contenu qu'elle contient est propriété légale de MyLoterie.Comm et du détenteur de la propriété intellectuelle Mr Aurélien COSTA.
    Licence copyright 2022.
    </p>
    </div>
    <div class="buttonBox">
        <a class="button" href="~/Home/Session">JOUER</a>
        <a class="button" href="~/Home">ACCUEIL</a>
    </div>
</div>