@{
    ViewData["Title"] = "Game Session";
}
<header>
</header>
<div class="content">
    <div class="banner">
        <a class="homeButton" asp-controller="Home" asp-action="Index"><iconify-icon inline icon="ic:outline-home"></iconify-icon></a>
        <span class="textMessage"><iconify-icon inline icon="ic:baseline-access-time"></iconify-icon>   PROCHAINE LOTERIE DANS:</span>
    </div>
    <script>
        window.startRedirection = 5;
        test = function () {

            setInterval(function () {

                document.getElementById("compteur").innerHTML = window.startRedirection;

                if (!window.startRedirection) { window.location = "https://www.google.fr" }

                window.startRedirection = window.startRedirection - 1;



            }, 1000);
        }
        var elmt = document.getElementById("compteur");
        elmt.onload = test();
    </script>
    <br>
    <hr class="separation">
    <br>
    <h2>Veuillez choisir 6 numéros dans la liste:</h2>
    <br>
    @*<div class="gameGrid">
        @{ for (int i = 1; i < 50; i++)
            { <span class='bowl'> @i </span>}
        }

    </div>*@
    <form asp-action="SessionValidation" method="get">
        
            <div class="gameGrid">
                @{
                    for (int i = 1; i < 50; i++)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="ball"  id="@i" name="number" value="@i">
                            <label for="ball">@i</label>
                        </div>
                    }
                }
            </div>
            <div class="buttonBox">
                <input class="button button2" type="reset" value="REINITIALISER
LA SELECTION">

            <input class="disabledButton" id="gameSubmit" type="submit" value=" VALIDER CES
NUMEROS" disabled="disabled" OnClick="submitVerification()";">
            </div>
        
    </form>
    <div class="alerts"></div>
</div>
