@{
    ViewData["Title"] = "Game Session";
}
@section Scripts{
    <script type="text/javascript" src="/js/session.js"></script>
}
<header>
</header>
<div class="content">
        <div class="timerContainer">
            <a class="homeButton" asp-controller="Home" asp-action="Index">
                <iconify-icon inline icon="dashicons:admin-home"></iconify-icon>   
            </a>
            <div class="textMessage"><iconify-icon inline icon="ic:baseline-access-time"></iconify-icon>   PROCHAINE LOTERIE:</div>
            <div class="timeBox">
                <span id="timer" class="timerTimeRemains"></span>
            </div>
        </div>   
    <br>
    <hr class="separation">
    <br>
    <h2>Veuillez choisir 6 numéros:</h2>
    <br>
    <form asp-controller="Home" asp-action="RecordSession" method="post">
            <div class="gameGrid">
                @{
                    for (int i = 1; i < 50; i++)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="ball"  id="@i" name="numbers" value="@i">
                            <label for="ball">@i</label>
                        </div>
                    }
                }
            </div>
            <div class="buttonBox">
                <input class="button button2" type="reset" value="REINITIALISER">
            <input class="disabledButton" id="gameSubmit" type="submit" value=" VALIDER" disabled="disabled";">
            </div>
    </form>
    <div class="alerts"></div>
</div>
