<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lottery_2022</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lottery_2022.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
    <br>
    <div class="logo"><a href="https://www.joueurs-info-service.fr/Joueurs/etre-rappele-par-un-conseiller?xtor=SEC-1-GOO&gclid=EAIaIQobChMI_evikvfV-wIV6_93Ch2EuQAVEAAYASABEgJrxPD_BwE&gclsrc=aw.ds" target="_blank"><img class=" infoItem" src="/images/info-service.png"></a></div>
    <br>
    <p class="warnings">Les jeux de hasard comportent un risque, et peuvent entraîner dépendance, isolement social et dépression. Si vous pensez être un sujet à risque, ne jouez pas ou appeler le 09 74 75 13 13 (7j/7, appel anonyme et non surtaxé)</p>
    <br>
    <br>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Lottery_2022 - <a asp-area="Mentions légales" asp-controller="Home" asp-action="Index">Mentions légales</a>    <a asp-area="Mentions légales" asp-controller="Home" asp-action="Index">Conditions d'utilisation</a>
        </div>
    </footer>

   
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
